/*-----------сброс стиле------------ */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a {
   text-decoration: none;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: 'Calvino Grande Trial';
  src: url(/fonts/Calvino-Grande-Light-trial.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Calvino Grande Trial';
  src: url(/fonts/Calvino-Grande-Light-Italic-trial.woff) format('woff');
  font-style: italic;
  font-weight: 300;
}


/*выше сброс стилей-------начало проекта */
html {
	width: 100vw;
}
body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #F0EBE7;;
	color: #5C5B59;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.visually-hidden {
	font-size: 0;
}

.header-page {
}
.header__image {
	width: 100%;
	min-width: 1440px;
	max-height: 730px;
	background: url('img/1440/image-main-pictire.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}
.header__image--gradient {
	min-width: 1440px;
	height: 730px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.container {
	width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}
.header__container {
	display: flex;
	justify-content: space-between;
	padding-top: 28px;
}
.header__logo {
}
.visually-hidden {
	font-size: 0;
}
.logo__image {
}
.header-nav {
	display: flex;
	align-items: center;
}
.nav {
}
.nav__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav__item:not(:last-child) {
	margin-right: 36px;
}
.nav__item {
}
.nav__link {
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	line-height: 154%;
}
.nav__menu-icon {
margin-left: 64px;

}
.header__content {
	margin-top: 168px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.header__title {
	font-size: 64px;
	color: #fff;
	line-height: 64px;
	font-weight: 300;
	max-width: 893px;
	font-family: 'Calvino Grande Trial';
	text-transform: uppercase;
}
.header__title--italic {
	font-style: italic;
	text-transform: lowercase;
}
.header__disc {
	color: #fff;
	line-height: 140%;
	max-width: 588px;
	margin-top: 48px;
}
.btn__link {
	padding: 21px 78px 21px 45px;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	background-color: #FC4339;
	position: relative;
	margin-top: 75px;
	max-width: 239px;
}
.btn__link--arrow {
	position: absolute;
	right: 48px;
	top: 24px;
}
.btn__box {
	width: 135px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	right: 0;

}
.btn-left {
	background-color: rgba(255, 255, 255, 0.2);
	width: 56px;
	height: 56px;
	border-radius: 100%;
	position: relative;
}
.btn-left::before {
	content: '';
	position: absolute;
	background: url('img/1440/icon-arrow-left.png') no-repeat;
	top: 19px;
	left: 22px;
	width: 10px;
	height: 20px;
}
.btn__left--arrow-left {

}
.btn-right {
	background-color: rgba(255, 255, 255, 0.2);
	width: 56px;
	height: 56px;
	border-radius: 100%;
	position: relative;
}
.btn-right::before {
	content: '';
	position: absolute;
	background: url('img/1440/icon-arrow-left.png') no-repeat;
	transform: rotate(-180deg);
	top: 19px;
	left: 24px;
	width: 10px;
	height: 20px;
}

/*0------------------------page uslugi-------------*/
.service__container {
	max-width: 1140px;
	position: relative;
	padding: 0 15px;
	margin: 0 auto;
	margin-top: 150px;
}
.container {
}
.section-title {
	font-weight: 600;
	font-size: 12px;
	line-height: 19.2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #9FA2A7;
}
.section-subtitle {
	font-family: 'Calvino Grande Trial';
	font-weight: 300;
	font-size: 48px;
	line-height: 48px;
	color: #1F1F1F;
	margin-top: 48px;
	max-width: 427px;
}
.section-subtitle--italic {
	font-style: italic;
}
.btn__box--white {
	width: 135px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	right: 0;
}
.btn-left--white {
	background-color: rgba(255, 255, 255, 1);
	width: 56px;
	height: 56px;
	border-radius: 100%;
	position: relative;
}
.btn-left--white::before {
	content: '';
	position: absolute;
	background: url('img/1440/icon-arrow-left.png') no-repeat;
	top: 19px;
	left: 22px;
	width: 10px;
	height: 20px;
}
.btn__left--arrow-left {

}
.btn-right--white {
	background-color: rgba(255, 255, 255, 1);
	width: 56px;
	height: 56px;
	border-radius: 100%;
	position: relative;
}
.btn-right--white::before {
	content: '';
	position: absolute;
	background: url('img/1440/icon-arrow-left.png') no-repeat;
	transform: rotate(-180deg);
	top: 19px;
	left: 24px;
	width: 10px;
	height: 20px;
}
.services__image-box {
	display: flex;
	width: 100%;
	min-width: 1440px;
}
.services__gradient {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.services__disc {
	font-size: 48px;
	font-weight: 300;
	font-family: 'Calvino Grande Trial';
	position: absolute;
	left: 78px;
	bottom: 58px;
	color: #fff;
}
.services__image1 {
	background-image: url('img/1440/img-uslugi1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position: 0px 0px;
	width: 1294px;
	height: 680px;
	position: relative;
	margin-top: 100px;
	margin-left: 120px;
}
.services__image2 {
	background-image: url('img/1440/img-uslugi2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 635px;
	height: 488px;
	margin-left: 102px;
	margin-bottom: auto;
	margin-top: auto;
}
.services__image3 {
	margin-top: 200px;
	background-image: url('img/1440/img-uslugi3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 729px;
}


/*-----------------------section concept ------------*/

.concept {
}
.concept__box {
	width: 1098px;
	height: 888px;
	margin-top: 200px;
	margin-left: 222px;
	position: relative;
	margin: 0 auto;
	margin-top: 200px;
	margin-bottom: 200px;
}
.concept__whitebox {
	background-color: #fff;
	width: 690px;
	height: 679px;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.concept__textbox {
	width: 588px;
	display: flex;
	flex-direction: column;
}
.section-title {
}
.section-title--black {
	color: #5C5B59;
}
.section-subtitle {
	width: 498px;
}
.concept__disc {
	margin-top: 48px;
	font-size: 14px;
	line-height: 25px;
	width: 486px;
	color: #5C5B59;;
}
.btn__link {
}
.btn__link-more {
	width: 204px;
}
.concept__photobox {
	background-image: url('img/1440/img-concept.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 588px;
	height: 888px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

/*----------------page blog----------------------*/
.blog {
	background-color: #fff;
	max-height: 1041px;
	width: 100vw;
	padding-top: 150px;
	padding-bottom: 200px;
}
.blog__topbox {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 95px;
}
.section-title {
}
.section-subtitle {
}
.blog__list {
	display: flex;
	justify-content: space-between;
	width: 648px;
	margin-bottom: 95px;
}
.blog__subtitle {
	margin-bottom: 48px;
}
.blog__item {
	position: relative;
}
.blog__item:last-child {
	background: none;
}
.blog__item::after {
	content: '';
	width: 8px;
	height: 8px;
	background: #F0EBE7;
	transform: rotate(45deg);
	position: absolute;
	right: -50px;
	top: 9px;
}
.blog__link {
	font-family: 'Calvino Grande Trial';
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	color: #1f1f1f;
}
.blog__link:hover {
	color: red;
	font-style: italic;
	background-image: url('img/1440/icon-arrow-red-right.png');
	background-repeat: no-repeat;
	background-position: 9px 5px;

}
.btn__box--gray {
	width: 135px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	right: 0;
}
.btn-left--gray {
	background-color: #F6F4F2;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	position: relative;
}
.btn-left--gray::before {
	content: '';
	position: absolute;
	background: url('img/1440/icon-arrow-left.png') no-repeat;
	top: 19px;
	left: 22px;
	width: 10px;
	height: 20px;
}
.btn-right--gray {
	background-color: #F6F4F2;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	position: relative;
}
.btn-right--gray::before {
	content: '';
	position: absolute;
	background: url('img/1440/icon-arrow-left.png') no-repeat;
	transform: rotate(-180deg);
	top: 19px;
	left: 24px;
	width: 10px;
	height: 20px;
}
.blog__bottombox {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 95px;
	margin: 0 auto;
	padding: 0 15px;
}
.blog__card {
	display: flex;
	flex-direction: column;
}
.card {
}
.card__img {
	background-size: cover;
	background-repeat: no-repeat;
}
.card__disc {
	color: #9FA2A7;
	font-size: 10px;
	line-height: 160%;
	letter-spacing: 2px;
	font-weight: 500;
	margin-top: 28px;
}
.card__title {
	font-family: 'Calvino Grande Trial';
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #1F1F1F;
	margin-top: 12px;
	max-width: 252px;
}
/*.blog__photobox {
	background: url('img/1440/img-blog5.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 729px;
	border: 1px solid red;
}
*/
/*------------------page gifts---------------*/
/*
.gifts__container {
	margin-top: 200px;
	width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
} 
.gifts__photo {
	background: url('img/1440/img-gifts.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	width: 690px;
	height: 867px;
	position: absolute;
	top: 0;
	left: 0;
}*/
.gifts__content {
}
.section-title {
}
.section-subtitle {
}
.concept-disc {
}
.btn__link {
}
.btn__link-more {
}
/*-------------contasts------------------*/
.contacts {
	width: 1350px;
	padding: 0 15px;
	height: 991px;
	margin: 200px auto 200px;
	display: flex;
	position: relative;
}
.contacts__image {
	background-image: url('img/1440/img-contacts.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 809px;
	height: 841px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.contacts__content {
	background-color: #fff;
	width: 894px;
	height: 770px;
	position: absolute;
	top: 0;
	left: 0;
}
.contacts__top-box {
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 690px;

}
.btn__connect {
	position: absolute;
	bottom: 0;
	right: 0;
}
.btn__connect::after {
content: '';
background-image: url('img/1440/icon-arrow-right-white.png');
background-repeat: no-repeat;
background-size: cover;
}
.btn__connect--arrow {

}
.section-title {
}
.section-subtitle {
}
.btn__link {
}
.btn__link--arrow {
}
.contacts__list {
	width: 390px;
	padding-left: 102px;
	display: flex;
	justify-content: space-between;
}
.contacts__item {
}
.contacts__sity-box {
	padding-left: 102px;
	padding-top: 80px;
}
.contacts__box {
	width: 690px;
	display: flex;
	margin-left: 102px;
	margin-top: 50px;
	column-gap: 45px;
}
.contacts__zones {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 204px;
}
.contacts__zone {
	font-family: 'Calvino Grande Trial';
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #1F1F1F;
}
.contacts__adress {
	display: flex;
	flex-direction: column;
}
.contacts__cont {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #5C5B59;
}
.contacts__cont--btm {
	padding-bottom: 16px;
}
.contacts__cont--top {
	padding-top: 16px;
}
/*=----------------footer---------------*/

.footer-page {
	background-color: #fff;
	padding-top: 150px;
}
.footer__container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 62px;
}
.footer__menu {
}
.header__logo {
}
.footer__menubox {
	display: flex;
	column-gap: 45px;
}
.footer__logo {
	justify-content: flex-start;
	color: #9FA2A7;
}
.visually-hidden {
}
.logo__image {
}
.footer__title {
	font-size: 22px;
	line-height: 22px;
	font-weight: 300;
	font-family: 'Calvino Grande Trial';
	color: #1F1F1F;
}
.footer__list {
}
.footer__item:not(:first-child) {
	margin-top: 8px;
}
.footer__item:first-child {
	margin-top: 43px;
}
.footer__link {
	font-size: 14px;
	font-weight: 400;
	line-height: 140%;
	color: #5C5B59;
}
.footer__spa {
}
.footer__socials {
}
.footer__container-bottom {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 55px;
	padding-bottom: 94px;
	border-top: 1px solid #D0D0C8;
}
.text--underline {
text-decoration: underline;
}